extends baseEmail

block emailContent

  div(styles="padding: 20px;")
    p(style="font-weight: bold; font-size: 18px") ¡Saludos, #{name}!

    p Recientemente hemos recibido una solicitud para cambiar la contraseña de tu cuenta en ViggoFit. 
      | Para continuar con el proceso de cambio de contraseña, por favor utiliza el siguiente código de verificación:

    p Código de Verificación: #{code}

    p Mediante 
      a(href=url) éste enlace 
      | puede cambiarla.

    p Si el enlace anterior no le funciona, copie y pegue esta direccion en la barra de direcciones de su navegador de internet.
    
    a(href=url) #{url}

    p Este enlace es valido solo por 5 minutos.

    p Saludos cordiales.